<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.swathivarsha.janani">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ANM_LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ANM_NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ANM_VaccinationActivity"
            android:label="@string/vaccination"/>
        <activity android:name=".ANM_ANCHighRiskActivity"
            android:label="@string/high_risk"/>
        <activity android:name=".ANM_PNCHighRiskActivity"
            android:label="@string/high_risk"/>
        <activity android:name=".ANM_CatalogueActivity"
            android:label="@string/title_activity_catalogue"/>
        <activity android:name=".ANM_HRWomanActivity"
            android:label="@string/high_risk"/>
        <activity android:name=".ANM_PNCLowRiskActivity"
            android:label="@string/low_risk"/>
        <activity android:name=".ANM_ANCLowRiskActivity"
            android:label="@string/low_risk"/>

    </application>

</manifest>